# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# VS Code
.vscode/

# Project specific
models/
results/
test_data_temp.csv
# dataset/ # Uncomment to ignore dataset if it is too large
